.wrapper {
  display: flex;
  padding: 20px;
  width: 100%;
  background-color: lightgrey;
}

.nav {
  background: rgba(0, 0, 255, 0.658);
}

.link {
  width: 100%;
  color: white;
  display: flex;
  padding: 10px;
}