.dialog {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;
  max-height: 90vh;
  overflow: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  width: 100%;
}

.title {
  padding-right: 20px;
  font-size: 24px;
  font-weight: 600;
}

.closeButton {
  margin-left: auto;
  width: 25px;
  height: 25px;
}